.logo-container {
    z-index: 0;
    width: 100px;
    height: 200px;
    border-radius: 40px;
    opacity: 0;
    position: absolute;
    top: -600px;
    right: 50px;
    bottom: 300px;
    left: 400px;
    margin: auto;
  
    svg {
      width: 100%;
      height: auto;
      bottom: 0;
      transform: rotateZ(30deg) !important;
    }
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      opacity: 0;
      transform: rotateZ(30deg) !important;
      z-index: 1;
    }
  }
  
  .svg-container {
    stroke: red;
    stroke-width: 10;
  }

  .foto{
    justify-content: center;
    width: 310px;
    height: 325px;
    border-radius: 150px;
    border: 2px solid #ffd700;
    margin-top: 300px;
  }
